<h1>Boards</h1>
<hr>
<%= link_to 'Create New Board', new_board_path, class: 'ui button primary' %>
<ul>
  <% @boards.each do |board| %>
    <li>
      <%= link_to board.name, board %> |
      <%= link_to 'Delete', board_path(board.id), method: :delete %>
    </li>
  <% end %>
</ul>