<h1>Boards</h1>
<hr>
<%= link_to 'Create New Board', new_board_path, class: 'ui button primary' %>
<div class="ui cards">
  <% @boards.each do |board| %>
    <div class="card">
      <div class="content">
        <div class="header">
          <%= link_to board.name, board %> |
          <%= link_to 'Delete', board_path(board.id), method: :delete %>
        </div>
      </div>
    <div class="meta">Friend</div>
    </div>
  <% end %>
</div>