<div class="ui menu">
  <div class="nav-style">
    <%= link_to boards_path do %>
      <div class="ui basic large button">
        <i class="home icon"></i>
      </div>
    <% end %>
    <div class="website-name">
      Trollo
    </div>
  </div>
</div>